-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda11_cudnn82]==0.3.24
jaxlib==0.3.24
flax==0.6.1
pylint==2.15.5
pytest==7.2.0
pytype==2022.10.26
flake8==5.0.4
netCDF4==1.6.1
h5py==3.7.0
fsspec==2023.4.0
gcsfs==2022.10.0
s3fs==2022.10.0
adlfs==2022.10.0
pyyaml==6.0
